{% extends "base.html" %}

<!-- TODO: Figure out why user_err is eval. as true even when no err (
this isn't happening to email_err or any other...) -->

{% block content %}
<h1>Sign Up</h1>
<div class="form">
  <form action="/welcome" method="post">
    <label for="user">Username:</label>
      <input id="user" type="text" name="username" placeholder="Enter Username"
      value="{{ username }}" /><br>
    {% if user_err %}
    <span class="error">{{ user_err }}</span><br>
    {% endif %}<br>
    <label for="email">Email:</label>
      <input id="email" type="text" name="email" placeholder="(Optional)"
      value="{{ email }}" /><br>
    {% if email_err %}
    <span class="error">{{ email_err }}</span><br>
    {% endif %}<br>
    <label for="password">Password:</label>
      <input id="password" type="password" name="password" value=""/><br>
    {% if pass_err %}
    <span class="error">{{ pass_err }}</span><br>
    {% endif %}<br>
    <label for="confirm">Confirm Password:</label>
      <input id="confirm" type="password" name="password2" value=""/>
    <input type="submit" value="Submit" />
  </form>
</div>
{% endblock %}
